.mobile-menu-section {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 280px;
    background-color: #f4f4f4;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    display: none;
    z-index: 99;
    font-family: "Arial", sans-serif;
}

.mobile-menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    background-color: #5184FF;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.mobile-menu-header h1 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}

.mobile-menu-menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.mobile-menu-menus ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.mobile-menu-menus ul li {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.mobile-menu-menus ul li:hover {
    background-color: #5184FF;
    color: white;
}

.mobile-menu-menus button {
    background-color: #5184FF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.mobile-menu-menus button:hover {
    background-color: #416bcc;
}

.mobile-menu-footer {
    display: flex;
    justify-content: start;
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.mobile-menu-footer-contact a {
    text-decoration: none;
    color: #5184FF;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.mobile-menu-footer-contact a:hover {
    color: #416bcc;
}

/* Responsive */
@media (max-width: 768px) {
    .mobile-menu-section {
        display: block;
    }
}

@media (max-width: 480px) {
    .mobile-menu-section {
        width: 100%;
    }

    .mobile-menu-header h1 {
        font-size: 18px;
    }

    .mobile-menu-menus ul li {
        font-size: 16px;
    }

    .mobile-menu-menus button {
        font-size: 14px;
    }
}