.hero-section {
    width: 100%;
    height: fit-content;
    background-color: #5184FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 20px;
}

.hero-section img {
    width: 50%;
}

.hero-section .hero-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #fff;
}

.hero-section .hero-content button {
    text-transform: uppercase;
    background: #fff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1.5px solid #fff;
    padding: 5px 20px;
    border-radius: 55px;
    font-weight: 600;
    color: #5184FF;
    font-size: 18px;
    cursor: pointer;
}

.hero-section .hero-content button:hover {
    background-color: #fff;
    color: #5184FF;
}