.mobile-menu-section {
    position: absolute;
    top: 60px;
    right: 0px;
    height: fit-content;
    width: 320px;
    background-color: #fff;
    z-index: 99;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
}

.mobile-menu-header img {
    width: 80px;
}

.mobile-menu-header {
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #000;
    /* padding: 10px 20px; */
    gap: 20px;
}

.mobile-menu-header h1 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.mobile-menu-menus {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    gap: 30px;
    /* padding-bottom: 20px; */
    padding-bottom: 20px;
}

.mobile-menu-menus ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    /* padding-left: 40px; */
}

.mobile-menu-menus ul li {
    width: 100%;
    max-width: 160px;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    text-align: center;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.mobile-menu-menus ul li img {
    width: 35px;
}

.mobile-menu-menus button {
    background-color: #5184FF;
    color: #fff;
    border: none;
    width: fit-content;
    margin: auto;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
}

.mobile-menu-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-top: 1px solid #000;
}

.mobile-menu-footer-socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.mobile-menu-footer-socialmedia i {
    font-size: 20px;
    color: #000;
}

.mobile-menu-footer-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.mobile-menu-footer-contact a i {
    font-size: 20px;
    color: #000;
}



/* RESPONSIVE */
@media (max-width: 768px) {
    .mobile-menu-section {
        display: block;
    }
}

@media (max-width: 480px) {
    .mobile-menu-section {
        width: 100%;
    }

    .mobile-menu-header img {
        width: 50px;
    }
}