.who-we-are-section {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    background-image: url('../assets/backgrounds/bg1.avif');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.who-we-are-section h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.who-we-are-section p {
    max-width: 1000px;
    text-align: center;
}

/* RESPONSIVE */
@media (max-width: 480px) {
    .who-we-are-section h1 {
        font-size: 25px;
    }

    .who-we-are-section p {
        font-size: 12px;
    }
}